@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400&family=Ubuntu:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 12%, rgba(217, 103, 10, 0.9166904310552346) 51%, rgba(255, 247, 0, 1) 100%) no-repeat;
}

nav {
    font-family: 'Averia Serif Libre', cursive;
    position: sticky;
    top: 0;
}

nav ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 45px;
    background: rgb(233, 203, 0);
    background: linear-gradient(90deg, rgba(233, 203, 0, 1) 0%, rgba(206, 115, 108, 1) 93%);
}

nav ul li {
    margin: 10px;
}

.container {
    min-height: 30vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(217, 79, 10, 0.9166904310552346) 0%, rgba(255, 247, 0, 1) 100%);
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    border-radius: 12px;
    background: url('aum.jpg') linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) no-repeat;
}

#brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

#brand img {
    height: 33px;
    width: 33px;
    margin: 5px;
    border-radius: 50%;
}

.bottom {
    position: sticky;
    background: rgb(233, 203, 0);
    background: linear-gradient(90deg, rgba(233, 203, 0, 1) 0%, rgba(206, 115, 108, 1) 93%);
    height: 150px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 50vw;
    accent-color: #ff3700;
    display: flex;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 40px;
}

.songItem {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 34px;
    /* width: 115%; */
    margin: 10px;
    background: rgb(233, 203, 0);
    background: linear-gradient(90deg, rgba(233, 203, 0, 1) 0%, rgba(206, 115, 108, 1) 93%);
}

.songItem img {
    border-radius: 50%;
    width: 34px;
    margin: 10px;
}

.timestamp {
    margin: 15px;
}

.timestamp i {
    cursor: pointer;
}


/* .playing img {
    position: relative;
    left: 74px;
} */